<div class="row">  
  <h4>Welcome to ScienceQuiz</h4>  
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <p>ScienceQuiz is amazing.  Enroll your children now, 
        or they will be embittered by your lack of vision for 
        their lives and complete unconcern for them to learn 
        important science facts, and they will need therapy for 
        years to recover.  You don't want that, do you?  Of course
        not.  So be a loving parent and enroll them today!
        </p>
      </div>
    </div>
  </div>
</div>
